body {
  font-family: 'Courier New', monospace;
  background-color: #fff8da; /* Soft cream background */
  margin: 0;
  padding-top: 60px; /* Added padding to push the content down below the fixed header */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333333;
  font-size: 32px;
  text-align: center;
  margin-top: 70px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
h2 {
  color: #f28585;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
h3 {
  color: #525050;
  font-size: 15px;
  
}
.divider-container {
  width: 100%;
  padding: 0 20px; /* Add padding to the left and right */
  box-sizing: border-box;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #ffa447; /* Black bottom border */
  margin-top: 20px; /* Adjust the margin-top value as needed */
  margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
  
}

.box-container {
  background-color: rgba(255, 255, 255, 0.6); /* Transparent white box */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Add shadow */
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Set maximum width */
  margin-top: 20px; /* Adjust the margin-top value as needed */
  text-align: center; /* Center the content */
}

.picture-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.picture {
  width: 20%; /* Adjust the width as needed */
  margin: 0 8%;
  border-radius: 8px; /* Add border radius */
  overflow: hidden; /* Hide overflowing content */
}

.picture img {
  width: 100%; /* Make the image fill its container */
  display: block; /* Remove any default image margins */
}

.picture img {
  width: 100%; /* Make the image fill its container */
  display: block; /* Remove any default image margins */
}

.description {
width: 100%; /* Adjust the width as needed */
margin-top: 10px; /* Adjust the margin-top value as needed */
text-align: center; /* Center the text */
}