{% extends "after_header.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

</head>
<body>
    <div id="nav-placeholder"></div>
    <!-- The main content will start here, pushed down by the top padding on the body -->
    <h1>Who We Are</h1>
    <div class="divider-container">
        <div class="divider"></div>
    </div>
    <!-- More content can be added here -->
    <h2>
        WECE<br>
        Women in Electrical and Computer Engineering 
    </h2>

    <div class="box-container">
        <h3>
            A student organization at the University of Illinois at Urbana-Champaign dedicated to supporting women within the Illinois ECE department. We welcome members of all genders to be active in the group, and we strive to build communities amongst ourselves by hosting social, technical, outreach, and professional events!
    
        </h3>
    </div>

    <div class="divider-container">
        <div class="divider"></div>
    </div>

    <h2>
        SPARK<br>
    </h2>

    <div class="box-container">
        <h3>
            WECE Spark began as an idea within the UIUC WECE Outreach committee and has grown over the past two years into a full-fledged youth-centered website to introduce young girls around the world to Computer and Electrical Engineering. Spark allows WECE to help educate future engineers all over the country in parallel to our Outreach committee hosting educational talks and events within the Champaign-Urbana community. Spark is a continuously growing website based entirely on student contribution! Come help WECE and help fan the Spark for young engineers!
    
        </h3>
    </div>

    <div class="divider-container">
        <div class="divider"></div>
    </div>

    <h2>
        CONTRIBUTORS<br>
    </h2>


    <div class="picture-container">
        <!-- Picture 1 -->
        <div class="picture">
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Matilde">
            <div class="description">Matilde Figueroa-Carrillo <br>
                Front End Dev <br>
                Junior (Electrical Engineering with minors in Materials Science and Engineering and Semiconductor)
                </div>
        </div>
        <!-- Picture 2 -->
        <div class="picture">
            <img src="{{ url_for('static', filename='images/image3.jpg') }}" alt="Jenny">
            <div class="description">Jenny Kim <br> 
                WECE Outreach Technical Chair <br>
                Sophomore <br>
                (Stat + CS)
                </div>
        </div>
        <!-- Picture 3 -->
        <div class="picture">
            <img src="{{ url_for('static', filename='images/image5.jpg') }}" alt="Aishwarya">
            <div class="description">Aishwarya Manoj <br>
                WECE Outreach Technical Chair <br>
                Sophomore <br>
                (Computer Engineering)
                </div>
        </div>
    </div>

    <div class="picture-container">
        <!-- Picture 1 -->
        <div class="picture">
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" alt="Ian">
            <div class="description">Ian Watson <br>
                Front End Dev <br>
                Junior <br>
                (Computer Engineering with minor in Math)
                
                </div>
        </div>
        <!-- Picture 2 -->
        <div class="picture">
            <img src="{{ url_for('static', filename='images/image4.jpg') }}" alt="Sarayu">
            <div class="description">Sarayu Suresh <br>
                Front End Dev <br>
                Freshman <br>
                (Computer Engineering minors in Math and Business)
                </div>
        </div>
        <!-- Picture 3 -->
        <div class="picture">
            <img src="{{ url_for('static', filename='images/image6.png') }}" alt="Zoe">
            <div class="description">Zoe Kaiser
                Front End Dev <br>
                Freshman <br>
                (Computer Engineering)
                </div>
        </div>
    </div>


</body>
{% endblock %}
