<!-- before_header.html -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
    <a href="index.html" class="spark-link">Spark: by WECE</a>
    <div class="right-links">
        <a href= "/index">About Us</a>
        <a href="lessons.html">Lessons</a>
        <a href="ShopPage.html">Store</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Profile</a>
            <div class="dropdown-content">
                <a href="CharacterPage.html">Character</a>
                <a href="login.html">Log Out</a>
            </div>
        </div>
    </div>

</nav>

{% block content %}{% endblock %}